mat-toolbar {
    display: flex;
    justify-content: center;
  }

  .p.b {
    font-style: italic;
  }
  

  .book-cover{
    // margin-left: 30%;
    display: flex;
    justify-content: center;

  }

  .gif{
    background: url("/assets/images/mathematics.gif")
  }