
.buttons-group-1 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.simulation-panel{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  

  .wrapper {
    text-align: center;
    // margin-bottom: 5%;
    padding-bottom: 2%;
    
}

.setting-panel-element{
    margin-right: 5rem;
    margin-left: 5rem;
   }
   
   .example-button-row {
    // margin-left: 5rem;
    // display: table-cell;
    // width: 490px;
    // margin-bottom: 5rem;

  }
  .info-input-panel{
    padding-bottom: 5%;
    padding-top: 5%;
  }